.env

checkpoints/

__pycache__/
*.py[cod]
*$py.class
*.so

processor/

processor/artifacts/
spark-warehouse/
.spark-staging/
metastore_db/
derby.log
*.parquet
*.snappy
*.crc
logs/

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db